<div class="chat-container">
    <div *ngFor="let message of messageHistory" [ngClass]="{'sent-message': message.sent, 'received-message': !message.sent}">
      {{ message.content }}
        <button mat-icon-button (click)="copyToClipboard(message.content)">
            <mat-icon>content_copy</mat-icon>
        </button>
    </div>
  
    <mat-form-field class="input-field">
      <input matInput placeholder="Escribe un mensaje..." [(ngModel)]="newMessage" (keydown.enter)="sendMessage()">
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="sendMessage()" class="send-button">
        <span class="button-text" [style.height.px]="loading ? 64 : 32">Enviar</span>
        <mat-spinner diameter="20" color="warn" *ngIf="loading"></mat-spinner>
    </button>
</div>